body {
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 350px;
}
input {
    width: 100%;
    padding: 10px;
    border: 2px solid #71ee7b;
    margin-bottom: 4px;
}

button {
    background: #71ee7b ;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #71ee7b;
    font-weight: bold;
}
#delete-btn{
    background: #fff;
    color: green;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #0c0b0c;
    text-decoration: none;
}