body {
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 350px;
}
input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ee71e8;
    margin-bottom: 4px;
}

button {
    background: #c935d6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #d300a5;
    text-decoration: none;
}